@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

p {
  color: rgb(72, 72, 72);
}

.titulo-paragrafo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: #f2726f;
}

.descricao-paragrafo {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4b4b4b;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: rgb(248, 248, 248);
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  color: #000000;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;

  letter-spacing: 0.15px;
}

a:hover {
  opacity: 1;
}

ul,
ol,
li {
  list-style: none;
}

button {
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  height: 40;
  background: #f2726f;
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(90%);
}

input,
button,
textarea {
  font: 400 18px Roboto, sans-serif;
}

form input,
input {
  color: #333;
  height: 40;
  border: 1px solid #dcdce6;
  border-radius: 5px;
  padding: 0 24px;
}
